<list-page [gender]="'M'"
           [deletavel]='true'
           [columns]="columns"
           [dataSource]="dataSource"
           [headline]="'Matrículas'"
           [subhead]="'Matrículas / Consulta'"
           (list)='listByFilters($event)'
           [totalElements]="totalElements"
           [pageSize]="pageSize"
           [pageIndex]="pageIndex"
           [rolesToAdd]="['nops']"
           [rolesToEdit]="['nops']"
           [insertable]='false'
           (delete)="openDeleteDialog($event)"
           [displayedColumns]="displayedColumns">
</list-page>
