<form [formGroup]='form' (ngSubmit)='saveEntity(form)' novalidate>

  <!--toolbar div-->
  <ng-content select='[toolbar]'></ng-content>

  <mat-card>

    <mat-form-field flex style='display: block'>
      <mat-label>Nome</mat-label>
      <input maxlength='150' matInput [(ngModel)]='entity.name' required formControlName='name' id='name' name='name'
        placeholder='Nome' />
      <mat-error>
        Esse campo é obrigatório
      </mat-error>
    </mat-form-field>

    <vertical-space [verticalMargin]='5'></vertical-space>

    <mat-form-field flex style='display: block'>
      <mat-label>E-mail</mat-label>
      <input formControlName='email' id='email' name='email' maxlength='150' required [(ngModel)]='entity.email'
        matInput placeholder='E-mail' />
      <mat-error>
        Esse campo é obrigatório
      </mat-error>
    </mat-form-field>

    <vertical-space [verticalMargin]='5'></vertical-space>

    <mat-form-field flex style='display: block'>
      <mat-label>CPF</mat-label>
      <input id='cpf' name='cpf' formControlName='cpf' maxlength='150' required matInput placeholder='CPF'
        [(ngModel)]='entity.document' />
      <mat-error>
        Esse campo é obrigatório
      </mat-error>
    </mat-form-field>

    <vertical-space [verticalMargin]='5'></vertical-space>

    <mat-form-field flex style='display: block'>
      <mat-label>Turmas</mat-label>
      <mat-chip-list #chipList aria-label='Seleção de Turma'>
        <mat-chip (removed)='remove(enrollment)' *ngFor='let enrollment of entity.enrollments'>
          {{enrollment?.class?.name}}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input  [matChipInputFor]='chipList'
                formControlName='enrollments'
                id='enrollments' name='enrollments'
                (matChipInputTokenEnd)='add($event)'
                flex #enrollmentsInput matInput required
                [matAutocomplete]='auto' placeholder='Nova turma...'
                [matChipInputSeparatorKeyCodes]='separatorKeysCodes'>
      </mat-chip-list>
      <mat-autocomplete #auto='matAutocomplete' (optionSelected)='selected($event)'>
        <mat-option [value]='enrollment' *ngFor='let enrollment of filteredEnrollments | async' >
          {{enrollment?.class?.name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </mat-card>
</form>