<form [formGroup]='form' (ngSubmit)='saveEntity(form)' novalidate>

  <!--toolbar div-->
  <ng-content select='[toolbar]'></ng-content>

  <mat-card>

    <mat-form-field flex style='display: block'>
      <mat-label>Nome (clientId)</mat-label>
      <input maxlength='150' required
             formControlName='clientId'
             matInput placeholder='Nome'
             [(ngModel)]='entity.clientId'
             id='clientId' name='clientId'/>
      <mat-error>
        Esse campo é obrigatório
      </mat-error>
    </mat-form-field>

  </mat-card>
</form>
