<div layout='row' layout-align='center center' class='nav-menu'>

  <a layout-margin routerLinkActive #rlaUsers='routerLinkActive' [ngClass]="{'menu-active': rlaUsers.isActive}"
     routerLink='users' *hasPermission="['root', 'users', 'users/get']; operation 'OR'">
    Usuários
  </a>

  <a class='ml-25' layout-margin routerLinkActive
     [ngClass]="{'menu-active': rlaApplications.isActive}"
     routerLink='students' #rlaApplications='routerLinkActive'>
    Estudantes
  </a>

  <a class='ml-25' layout-margin routerLinkActive #rlaAccessGroups='routerLinkActive'
     [ngClass]="{'menu-active': rlaAccessGroups.isActive}" routerLink='enrollments'>
    Matrículas
  </a>

  <a class='ml-25' layout-margin routerLinkActive #rlaAccessGroups='routerLinkActive'
     [ngClass]="{'menu-active': rlaAccessGroups.isActive}" routerLink='classes'>
    Turmas
  </a>
</div>

<div class='main-content'>
  <router-outlet></router-outlet>
</div>
