<div layout='row' layout-align='center center' class='nav-menu'>

  <a class='ml-25' layout-margin routerLink='enrollments'
     routerLinkActive #rlaEnrollments='routerLinkActive'
     [ngClass]="{'menu-active': rlaEnrollments.isActive}">
    Matrículas
  </a>

  <a class='ml-25' layout-margin routerLink='classes'
     routerLinkActive #rlaClasses='routerLinkActive'
     [ngClass]="{'menu-active': rlaClasses.isActive}">
    Turmas
  </a>

  <a class='ml-25' layout-margin routerLink='students'
     routerLinkActive #rlaStudents='routerLinkActive'
     [ngClass]="{'menu-active': rlaStudents.isActive}">
    Estudantes
  </a>
</div>

<div class='main-content'>
  <router-outlet></router-outlet>
</div>
