<list-page [gender]="'M'"
           [deletavel]='true'
           [desativavel]='false'
           [hasAdvancedFilter]='true'
           [columns]="columns"
           [dataSource]="dataSource"
           [headline]="'Turmas'"
           [subhead]="'Turmas / Consulta'"
           (list)="listByFilters($event)"
           [totalElements]="totalElements"
           [pageSize]="pageSize"
           [pageIndex]="pageIndex"
           (delete)='delete($event?.id)'
           [displayedColumns]="displayedColumns">
</list-page>
